@import '../../scss/variables';
@import '../../scss/mediaqueries';


.menu-mobile__container {

  display: block;
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  z-index: 9999;

  top: 0;
  background-color: rgba($color: $black, $alpha: 0.7);

  .menu-mobile__box {
    height: 500px;
    background-color: $white;
    border-radius: 20px;
    padding: 20px;
    padding-top: 80px;
  }

  .menu-mobile__flags {
    display: flex;
    width: 100%;

    .menuFlag__box {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        margin-right: 20px;
      }

      p {
        margin: 0;
      }
    }
  }

  .logo {
    max-width: 80%;

    img {
      width: 100%;
    }
  }

  @include desktop {
    display: none;
  }
}