@import '../../scss//variables';


.input__container {
  background-color: $white;
  margin-bottom: 20px;
  padding: 20px;

  label {
    font-size: 14px;
    font-family: $text;
    line-height: 18px;
    font-weight: 600;
    display: block;
  }
}