@import '../../scss/variables';

.form__container {
  margin-top: 60px;

  input {
    border: none;
    width: 100%;

    &:focus {
      outline: none !important;
      border: none;
      box-shadow: 0 0 5px $main_color;
    }
  }

  .form__button__box {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
    margin-top: 54px;
  }

  .form__button {
    width: 219px;
    height: 62px;
    background: rgba(17, 17, 17, 0.2);
    border-radius: 8px;
  }
}