@import '../../scss/variables';

.projects__container {
  .breadcrumb_container {
    font-family: $text;
    font-size: 12px;
    color: #333;
    margin-bottom: 32px;

    & a:hover {
      color: $main_color;
    }

    .breadcrumb__end {
      font-weight: 600;
      color: $main_color
    }
  }
}