@import '../../scss/variables';

.title__group {
  width: auto;
  display: block;
  position: relative;
  padding-bottom: 14px;

  h2 {
    font-family: $title;
    color: $main_color;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 1.4px;
    font-weight: 600;
    margin-bottom: 0;
  }

  span {
    height: 3px;
    width: 110px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #96daf3 0%, #e3f5fb 100%);
  }

  &.dark {
    h2 {
      color: $white;
    }

    span {
      background: linear-gradient(to right, #96daf3 0%, #000 100%);

    }
  }
}