@import '../../scss/variables';

.contact__container {
  min-height: 800px;

  .map__wrapper {
    padding: 20px;
    border-radius: 20px;
    background-color: #F5F5F5;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  }

  .map__container {
    width: 100%;
    border-radius: 20px;
    height: 623px;
    overflow: hidden;
  }

  @include desktop {
    width: 100%;

    .map__container {
      width: 100%;
      border-radius: 20px;
      height: 623px;
      overflow: hidden;
    }
  }
}