@import '../../scss/variables';

.container__wrapper--home {

  &.first_block {
    display: flex;
    flex-direction: row;

    .first_block--title {
      min-width: 350px;

      h1 {
        font-family: $title;
        color: $main_color;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 1.4px;
        font-weight: 600;
      }
    }

    .first_block--block {
      .first_block--description {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.4px;
        color: $text_color;
      }

      .first_block--subtitulo {
        font-size: 18px;
        margin: 50px 0 25px;
        font-weight: 600;
        color: $black;
      }

      img {
        max-width: 300px;
      }
    }
  }
}