@import '../../scss/variables';
@import '../../scss/mediaqueries';

.container__wrapper--home {

  .first_block--title,
  .second_block--title {
    margin-left: 0;
    margin-bottom: 24px;

  }


  .first_block--link {
    color: $text_color;
    right: 0;
    top: 0;
    position: absolute;
    font-family: $title;
    font-size: 14px;
    font-weight: 600;


    img {
      transform: rotate(-90deg);
    }
  }

  .first_block--block {
    padding: 10px;

    .first_block--description {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.4px;
      color: $text_color;
    }

    .first_block--subtitulo {
      font-size: 14px;
      margin: 50px 0 25px;
      font-weight: 600;
      color: $black;
    }

    .home__logos {
      max-width: 300px;
    }
  }

  .block__logos {
    margin-top: 30px;
  }

  &.dark {
    background-color: $black;

    .first_block--link {
      color: $white;
    }

    .first_block--description {
      color: $white;

    }
  }

  &.light {
    background-color: #F5F5F5;
  }

  &.block {
    .container {
      display: flex;
      flex-direction: column;
      padding: 15px;
    }
  }

  &.column {
    .container {
      display: flex;
      flex-direction: column;
    }
  }

  @include desktop {
    display: block;

    .first_block--title,
    .second_block--title {
      padding-left: 40px;

    }

    .block__logos {
      margin-top: 68px;
    }

    &.block {
      .container {
        display: flex;
        flex-direction: row;

      }
    }

    .first_block--block {
      padding: 0;

      .first_block--description {
        font-size: 18px;
        line-height: 28px;
      }

      .first_block--subtitulo {
        font-size: 18px;
        margin: 50px 0 25px;
      }
    }
  }
}