@import '../../scss/variables';

.container__wrapper--home {
  .first_block--title {
    margin-left: 40px;
  }

  .second_block--title {

    margin-left: 40px;

  }

  .first_block--block {
    .first_block--description {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.4px;
      color: $text_color;
    }

    .first_block--subtitulo {
      font-size: 18px;
      margin: 50px 0 25px;
      font-weight: 600;
      color: $black;
    }

    .home__logos {
      max-width: 300px;
    }
  }

  .block__logos {
    margin-top: 68px;
  }

  &.dark {
    background-color: $black;

    .first_block--description {
      color: $white;

    }
  }

  &.light {
    background-color: #F5F5F5;
  }

  &.block {
    .container {
      display: flex;
      flex-direction: row;
    }
  }

  &.column {
    .container {
      display: flex;
      flex-direction: rocolumnw;
    }
  }
}