.filter__container {
  width: 100%;
  min-height: 168px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px;

  .refresh {
    padding-top: 20px;
    cursor: pointer;
  }
}