@import '../../scss/variables';

.container__fluid {
  &.services {

    .offer {
      color: $white;
      margin-top: 10px;
      padding: 0 15px;

      .offer-parf {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        line-height: 22px;
        font-family: $text;
        font-weight: 600;
        align-items: flex-start;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 2px solid rgba($color: #fff, $alpha: 0.1);

        &:last-child {
          border-bottom: none;
        }

        img {
          margin-right: 15px;
          padding-top: 5px;
        }
      }
    }

    .services_outstanding {
      background: #10ACE4;
      height: auto;

      .container {
        min-height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        max-width: 840px;
        margin: 0 auto;
        border-bottom: none;
        padding: 40px;

        p {
          font-family: $title;
          font-size: 22px;
          line-height: 34px;
          letter-spacing: 1.1px;
          color: $white;
          text-align: center;
          font-weight: 600;
          margin: 0;
        }

      }
    }

    @include desktop {
      .offer {
        column-count: 2;
        margin-top: 50px;
        padding: 0 0 0 60px;

        .offer-parf {
          display: flex;
          flex-direction: row;
          font-size: 22px;
          line-height: 28px;
          font-family: $text;
          font-weight: 600;
          align-items: flex-start;
          margin-bottom: 30px;

          img {
            margin-right: 15px;
            padding-top: 5px;
          }
        }
      }

      .services_outstanding {
        .container {
          p {

            font-size: 16px;
            line-height: 22px;
            letter-spacing: 1.1px;
            color: $white;
            text-align: center;
            font-weight: 600;
            margin: 0;
          }

        }
      }
    }
  }

}