@import '../../scss/variables';

.container_menu {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.pointer {
  cursor: pointer;
}

.menu {
  display: inline-flex;
  font-family: $title;

  li {
    margin-right: 30px;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: $text_color;

    span {
      cursor: pointer;
    }

    & .active {
      color: $main_color;
    }

    & a:hover {
      color: $main_color;
    }

  }
}

.menu--flags {
  position: relative;

  img {
    cursor: pointer;
    margin-right: 10px;
  }
}