@import url('https://fonts.googleapis.com/css?family=Barlow:400,600|Orbitron:400,600,700&display=swap');
@import './mediaqueries';
// fonts
$title: 'Orbitron',
sans-serif;
$text: 'Barlow',
sans-serif;

//metrics

$container: 1270px;


$main_color: #10ace4;
$grey_light:#F5F5F5;
$grey_middle: #D8D8D8;
$grey_dark: #8F8F8F;
$text_color:#000;
$white: #fff;
$black: #000;
$alert:#D80027;
$yellow:#FFDA44;
$light-grey: #f2f2f2;

// SIZES
$font_title: 22px;
$font_text: 14px;
$font_card_home: 16px;


// Z-INDEX
$home-image: -1;
$card-text: 10;
$cookies: 1000;