@import '../../scss/variables';
@import '../../scss/mediaqueries';

.slider__container {
  border-radius: 20px;
  overflow: hidden;
  height: 278px;
  position: relative;

  .slick-slider {
    height: 280px;
  }

  .title__slider {
    display: block;
    max-width: 800px;
    position: absolute;
    left: 33px;
    top: 32px;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 2.2px;
    font-family: $title;
    color: $white;
    margin: 0;
  }

  .subtitle__slider {
    max-width: 800px;
    margin: 0;
    position: absolute;
    top: 138px;
    left: 32px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.6px;
    color: $white;

  }

  .author {
    position: absolute;
    bottom: 50px;
    right: 35px;
    color: $white;
    font-size: 11px;

    span {
      font-weight: bold;
    }
  }

  img {
    transform: scale(1.04);
    width: 100%;
  }

  .buttonPlay {
    position: absolute;
    right: 34px;
    bottom: 34px;
    z-index: 100000;
    cursor: pointer;

    svg {
      fill: #fff
    }
  }

  .slick-dots {
    position: absolute;
    right: 45px;
    bottom: 35px;
    text-align: right;
    width: 70px;

    li button:before {
      content: ' ';
      background-color: transparent;
      border-radius: 10px;
      width: 10px;
      height: 10px;
      border: 1px solid $white;
      opacity: 1;

    }

    li.slick-active button:before {
      opacity: 1;
      background-color: $white;
    }
  }

  @include desktop {
    display: block;
    height: 420px;

    .slick-slider {
      height: 424px;
    }

    .title__slider {
      left: 80px;
      top: 82px;
      font-size: 50px;
      line-height: 76px;
    }

    .subtitle__slider {
      left: 80px;
      top: 282px;
      font-size: 24px;
      line-height: 42px;
    }

    .author {
      position: absolute;
      bottom: 55px;
      right: 35px;
      color: $white;
      font-size: 11px;

      span {
        font-weight: bold;
      }
    }

    .slick-dots {
      position: absolute;
      right: 55px;
      bottom: 34px;
      text-align: right;
      width: 200px;

      li button:before {
        content: ' ';
        background-color: transparent;
        border-radius: 10px;
        width: 10px;
        height: 10px;
        border: 1px solid $white;
        opacity: 1;

      }

      li.slick-active button:before {
        opacity: 1;
        background-color: $white;
      }
    }
  }
}