@import '../../scss/variables';

.menu-list-items__container {
  padding: 0 15px;

  ul {
    padding: 0;
    margin-top: 30px;

    li {
      font-family: $text;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
}